@import url("../fonts/PTsans/stylesheet.css");
@import url("../fonts/sofia_pro_bold/stylesheet.css");
@import url("../fonts/sofiapro/stylesheet.css");

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}








/*Slideshow*/


.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 50px 0 75px;
  width: 100%;
  height: 500px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color:rgba(0,0,0,0.3);
  background-color: rgba(146,189,72,0.1); 
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
   color: #92bd48;
   opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  border: solid 2px #92bd48;
}






}